
header{
    width: 100%;
    height: auto;
    /*display: grid;
    grid-template-columns: 2fr 10fr;
    padding-left: 15px;*/
    padding-top: 12px;
}

.enlace-logo img{
    width: 90px;
}

.enlace-logo{
    position: absolute;
}

.navbar{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: repeat(3, auto);
}

.navbar__teams{
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-bottom: 10px;
    padding-left: 38px;
    align-items: center;
    column-gap: 20px;
}

.navbar__teams > div{
    display: flex;
    column-gap: 10px;
}

.navbar__teams > div > div{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;   
}

.navbar__search{
    display: flex;
    background: var(--color-principal);
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-left: 140px;
    position: relative;
}

.navbar__search__left, .navbar__search__right{
    display: flex;
}

.navbar__search__right a{
    color: var(--color-white);
}

.navbar__extras{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-left: 19px;
    position: relative;
}

.navbar__extras div{
    display: flex;
}

.navbar__extras a{
    padding: 15px 18px;
}

/*--ESTILOS HIPERVÍNCULOS-*/

.enlace-img-teams{
  width: 32px;
  height: 32px;
  display: flex;
  transition: all 100ms ease-in-out;
}

.enlace-img-teams:hover{
    transform: scale(1.3);
}

.enlace-con-js{
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-family: miFuenteProyecto1-bold;
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding: 18px 25px;
    color: var(--color-white);
    transition: all 100ms ease-in-out;
}

.enlace-con-js i{
    font-size: 0.6rem;
}

.menu-hover-option{
    width: 230px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 8.33%;
}

.menu-hover-option i{
    color: var(--color-hover-1);
    transform: rotate(180deg);
    font-size: 1.75rem;
    position: absolute;
    top: calc(0% - 20px);
    right: calc(50% - 11px);
}

.menu-hover-option__list{
    background: var(--color-hover-1);
    padding: 16px 18px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
}

.enlace-sub-menu{
    color: var(--color-white);
    font-size: 0.65rem;
    font-family: miFuenteProyecto1-semibold;
    width: 90px;
    height: 29px;
    display: flex;
    align-items: center;
}

.enlace-sub-menu:hover{
    text-decoration: underline;
}











/*--FIN DE ESTILOS HIPERVÍNCULOS-*/





/*


.enlace-sub-menu{
     display: flex;
    align-items: center;
}

*/












