
/*===== ESTILOS GLOBALES =====*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*===== FIN ESTILOS GLOBALES =====*/


/*===== DECLARACIÓN DE VARIABLES DE COLORES =====*/

:root{
    --color-principal: #37003C;
    --color-secundario: #734C76; 
    --color-hover-1: #963CFF;
    --color-hover-2: #FF2882;
    --color-grises-1:#76766f;
    --color-grises-2:#EBE5EB;
    --color-grises-3:#F5F2F5;
    --color-black:#000000;
    --color-white:#ffffff;
    font-size: 20px;
}

/*===== FIN DECLARACIÓN DE VARIABLES DE COLORES =====*/


/*===== DECLARACIÓN DE LA FUENTE DEL PROYECTO =====*/
@font-face {
    font-family: miFuenteProyecto1-light;
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: miFuenteProyecto1-regular;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: miFuenteProyecto1-medium;
    src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: miFuenteProyecto1-semibold;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: miFuenteProyecto1-bold;
    src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: miFuenteProyecto1-extrabold;
    src: url(/fonts/Poppins-ExtraBold.ttf);
}



/*===== FIN DE LA DECLARACIÓN DE LA FUENTE DEL PROYECTO =====*/


/*===== ESTILOS EN CONTENEDOR GENERAL =====*/

body{
    width: 100%;
    height: auto;
    font-family: miFuenteProyecto1-light;
}

/*===== FIN ESTILOS EN CONTENEDOR GENERAL =====*/

/*===== ESTILOS GENERALES =====*/

a{
    text-decoration: none;
}













/*
main > section:nth-child(3) a{
    width: 20%;
    display: grid;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    padding: 10px;
    z-index: 2;

}

main > section:nth-child(3) a > div:nth-child(2){
    background-color: red;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 18px;
    clip-path: path('M 0 150 Q 0,164 20,164 L 272, 164 Q 310,164 310,150' );}
*/
